<launch>

  <arg name="model"/>
  <arg name="config_path"/>
  <arg name="uri" default="radio://0/100/2M/0xE7E7E7E7E7" />
  <arg name="cmd_frequency" default="30" />
  <arg name="mass" default="0.036"/>
  <arg name="rotate_world" default="false"/>

  <arg name="launch_file" value="robot_common" unless="$(arg rotate_world)"/>
  <arg name="launch_file" value="robot_common_rotate" if="$(arg rotate_world)"/>

  <!-- Add odometry node -->
  <group ns="$(arg model)">

    <include file="$(find multi_mav_manager)/launch/$(arg launch_file).launch">
      <arg name="config_path" value="$(arg config_path)"/>
      <arg name="mass"        value="$(arg mass)"       />
      <arg name="model"       value="$(arg model)"      />
      <arg name="robot_type"  value="crazyflie"         />
    </include>

    <!-- For communication -->
    <node pkg="nodelet"
      type="nodelet"
      args="load crazyflie_interface/SO3CmdToCrazyflie controller_nodelet"
      name="so3cmd_to_crazyflie"
      required="true"
      clear_params="true"
      output="screen">
      <remap from="~odom" to="odom"/>
      <remap from="~so3_cmd" to="so3_cmd"/>
      <remap from="~cmd_vel" to="cmd_vel"/>
      <rosparam file="$(find crazyflie_interface)/config/crazyflie.yaml"/>
    </node>

    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri)" />
      <arg name="tf_prefix" value="$(arg model)" />
      <arg name="enable_logging" value="true" />
      <arg name="enable_logging_imu" value="false" />
      <arg name="enable_logging_temperature" value="false" />
      <arg name="enable_logging_magnetic_field" value="false" />
      <arg name="enable_logging_pressure" value="false" />
      <arg name="enable_logging_battery" value="true" />
      <arg name="enable_logging_pose" value="false" />
      <arg name="enable_logging_packets" value="false"/>
    </include>

    <node name="cmd_vel_throttler"
      type="throttle"
      pkg="topic_tools"
      args="messages /$(arg model)/so3cmd_to_crazyflie/cmd_vel_fast $(arg cmd_frequency) /$(arg model)/cmd_vel" />

  </group>
</launch>
