<launch>

  <arg name="sim" default="0"/>
  <arg name="config_path" value="$(find multi_mav_manager)/config/crazyflie"/>
  <arg name="launch_path" value="$(find multi_mav_manager)/launch/crazyflie"/>


  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch" unless="$(arg sim)"/>

  <group if="$(arg sim)">
    <rosparam file="$(arg config_path)/sim_params.yaml"/>
  </group>

  <include file="$(arg launch_path)/crazyflie.launch">
    <arg name="model" value="crazy01"/>
    <arg name="sim" value="$(arg sim)"/>
    <arg name="config_path" value="$(arg config_path)"/>
    <arg name="uri" value="radio://0/100/2M/0xE7E7E7E701"/>
  </include>

  <include file="$(arg launch_path)/crazyflie.launch">
    <arg name="model" value="crazy02"/>
    <arg name="sim" value="$(arg sim)"/>
    <arg name="config_path" value="$(arg config_path)"/>
    <arg name="uri" value="radio://0/100/2M/0xE7E7E7E702"/>
  </include>

  <include file="$(arg launch_path)/crazyflie.launch">
    <arg name="model" value="crazy03"/>
    <arg name="sim" value="$(arg sim)"/>
    <arg name="config_path" value="$(arg config_path)"/>
    <arg name="uri" value="radio://1/10/2M/0xE7E7E7E703"/>
  </include>

  <include file="$(arg launch_path)/crazyflie.launch">
    <arg name="model" value="crazy04"/>
    <arg name="sim" value="$(arg sim)"/>
    <arg name="config_path" value="$(arg config_path)"/>
    <arg name="uri" value="radio://1/10/2M/0xE7E7E7E704"/>
  </include>

  <include file="$(arg launch_path)/crazyflie.launch">
    <arg name="model" value="crazy05"/>
    <arg name="sim" value="$(arg sim)"/>
    <arg name="config_path" value="$(arg config_path)"/>
    <arg name="uri" value="radio://2/50/2M/0xE7E7E7E705"/>
  </include>

  <include file="$(arg launch_path)/crazyflie.launch">
    <arg name="model" value="crazy06"/>
    <arg name="sim" value="$(arg sim)"/>
    <arg name="config_path" value="$(arg config_path)"/>
    <arg name="uri" value="radio://2/50/2M/0xE7E7E7E706"/>
  </include>

  <node pkg="multi_mav_manager"
      type="multi_mav_services"
      name="multi_mav_services"
      output="screen">
    <rosparam file="$(arg config_path)/multi_mav_manager.yaml"/>
  </node>

  <node pkg="mocap_vicon"
    type="mocap_vicon_node"
    name="vicon"
    output="screen"
    unless="$(arg sim)">
    <param name="server_address" value="alkaline3"/>
    <param name="frame_rate" value="100"/>
    <param name="max_accel" value="10.0"/>
    <param name="publish_tf" value="false"/>
    <param name="fixed_frame_id" value="mocap"/>
    <rosparam param="model_list">[]</rosparam>
    <remap from="vicon/crazy01/odom" to="/crazy01/odom"/>
    <remap from="vicon/crazy02/odom" to="/crazy02/odom"/>
    <remap from="vicon/crazy03/odom" to="/crazy03/odom"/>
    <remap from="vicon/crazy04/odom" to="/crazy04/odom"/>
    <remap from="vicon/crazy05/odom" to="/crazy05/odom"/>
    <remap from="vicon/crazy06/odom" to="/crazy06/odom"/>
  </node>

</launch>
